.alert.alert-warning
  i.fa.fa-warning.fa-2x>
  span> We've noticed your profile is not completed yet. Make sure you filled all the fields marked with asterisk on profile
  strong to be able to make orders.