.form-group
  = f.input :first_name, class: 'form-control', placeholder: t('users_controller.placeholders.first_name')
  = f.input :last_name, class: 'form-control', placeholder: t('users_controller.placeholders.last_name')
  = f.button :submit, class: 'btn btn-primary pull-right'