//li.paginate_button {
//  background-color: #fff;
//
//  &:hover {
//    background-color: #fff !important;
//    background: none;
//    border: none !important;
//    box-shadow: none !important;
//  }
//}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  &,
  &:hover,
  &:active,
  &:focus {
    border: none;
    background: none;
    background-color: #fff;
    box-shadow: none;
  }
}