@font-face {
  font-family: 'josefin';
  src: asset_url('JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'josefin-bold';
  src: asset_url('JosefinSans-Bold.ttf');
}

@font-face {
  font-family: 'helvetica-neue';
  src: asset_url('HelveticaNeue.ttf');
}
@font-face {
  font-family: 'helvetica-neue-lt';
  src: asset_url('HelveticaNeueLt.ttf');
}